/* General Styles */
body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #6a1b9a; /* Violet */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
    width: 180px; /* Increased size for  */
}

.top-info {
    font-size: 0.85rem;
    text-align: right;
    color: white;
}

.top-info span {
    display: block;
}

/* Centered Menu */
nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    color: #fff;
    background-color: #4caf50; /* Dark Green */
    padding: 12px 20px;
    border-radius: 5px;
    margin: 0 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #66bb6a; /* Lighter Green */
}

/* Website Title */
h1 {
    text-align: center;
    color: #ff4081; /* Pink */
    font-size: 2.5rem;
}

/* Sections */
section {
    background-color: #ffe6f0; /* Light Pink */
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
}

.section-title {
    color: #2e7d32; /* Dark Green */
    font-size: 2rem;
    text-align: center;
}

.section-content {
    font-size: 1.2rem;
    color: #4caf50; /* Green */
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
}

.flex-container div {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.login-page {
    background-color: #EDE7F6; /* Light violet background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgb(0, 128, 64), 255, 0; /* White background for form */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
     margin-left: 550px;
}

.login-container h1 {
    color: #673AB7; /* Violet heading */
    font-size: 24px;
    margin-bottom: 30px;

}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    outline: none;
    border-color: #673AB7; /* Violet focus border */
    box-shadow: 0 0 10px rgba(103, 58, 183, 0.2);
}

.login-btn {
    width: 100%;
    background-color: #FF4081; /* Pink button */
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
}

.login-btn:hover {
    background-color: #e91e63; /* Darker pink on hover */
}
nav a:hover {
    background-color: #66bb6a; /* Lighter Green */
}



